@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Pacifico&display=swap');

body {
  height: 100vh;
  width: 100vw;
  background-color: #ffbd59;
  position: relative;
}

.title {
  position: absolute;
  top: 5%;
  left: 10%;
  font-family: 'Kalam', cursive;
}

.artwork {
  width: 400px;
  height: 400px;
  box-shadow: 12px 12px black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site-url {
  position: absolute;
  top: 84%;
  right: 12%;
  font-family: 'Kalam', cursive;
}